html {
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: auto;
}

body {
  color: #1A2F3F;
  overflow: hidden;
  overflow-y: auto;
}

a{
  cursor: pointer;
}



.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 30px;
  &:hover{
      .number{
          border: 1px solid #93B474;
      }
  }
}

.container button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
cursor: pointer;
}

.number{
  width: 44px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.icon-filter-option-arrow {
  font-size: 8px;
  color: rgba(138, 138, 138, 1);
  display: inline-flex;
  transform: translateY(-1px);
}

.button-left{
  rotate: 90deg;
  transform: translate(-3px, -4px);
  font-size: 7px;
}

.button-right{
  rotate: -90deg;
  transform: translate( 1px, -4px);
  font-size: 7px;
}
main{
  height: 100%;
}
#content{
  height: 100%;
  position: relative;

}

main{
  height: 100%;

}

.preload{
	height: 70vh;
	overflow: hidden;
	.preloader{
		display: block;
	}
}
.preloader{
	display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
}
.loader {
	width: 15vw;
	height: 5px;
	border-radius: 50px;
	background-color: rgb(161, 161, 161);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
  }
  
  .loader::before {
	content: "";
	position: absolute;
	border-radius: 50px;
	height: 100%;
	width: 0%;
	background-color: #337D5A;
	animation: progress 0.7s linear forwards;
  }
  
  @keyframes progress {
	0% {
	  width: 0%;
	}
	100% {
	  width: 100%;
	}
  }
  