.delivery-video {
    background: url(../../images/delivery/3.webp) center / cover no-repeat ;
    height: 740px;
    width: 100%;
    margin: 60px 0 0 0;
    display: grid;
    justify-items: center;
    grid-template: 240px 150px 23px 65px 25px 30px 1fr /1fr;
		&__button {
            grid-column: 1;
            grid-row: 4;
            background: url(../../images/svg/play-icon.svg) center no-repeat;
            width: 65px;
            margin-right: 20px;

        }
		&__video-title {
            grid-column: 1;
            grid-row: 2;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 45px;
            line-height: 53px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            max-width: 1100px;
            margin: 0 auto;
            padding-right: 14px;
        }
		&__video-info {
            grid-column: 1;
            grid-row: 6;
            font-family: 'Raleway';
            font-style: italic;
            font-weight: 500;
            font-size: 26px;
            line-height: 28px;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            text-align: center;
            margin-right: 21px;
        }
}

.ready{
    .delivery-video {
        background: none ;
            &__button {
                display: none;
            }
            &__video-title {
                display: none;
            }
            &__video-info {
                display: none;
            }
    }
}
@media (max-width: 1200px) {
    .delivery-video {
        height: 60vw;
        grid-template: 1fr auto auto 65px auto auto  1fr /1fr;
            &__video-title {
                font-size: 22px;
                line-height: 25px;
                max-width: 600px;
            }
            &__video-info {
                font-size: 18px;
                line-height: 21px;
            }
    }

}