// main{
//     height: 2000px;
// }


.custom-checkbox {
    display: none;
  }
  
  .checkmark {
    display: block;
    margin-bottom: 2px;
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    border: 1.5px solid #337D5A;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .checkmark::after {
    content: "";
    display: none;
  }
  
  .custom-checkbox:checked + .checkmark::after {
    content: "";
    display: block;
    top: 1.5px;
    left: 1.5px;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: #337D5A;
    transform: translate(1.5px, 1.5px);
  }


  .upload-container {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 66px 0 18px 0;
    width: 131.009px;
    height: 170px;
    background: url(../../images/account/pic.webp);
    text-align: center;
  }

  .upload-container input[type="file"] {
    display: none;
  }
  ///////////////////////////
  /* Стилизация радиокнопок */
  input[type='radio'],
  label {
    cursor: pointer;
  }
  
  input[type='radio'] {
    position: relative;
    height: 11px;
    width: 11px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }
  
  input[type='radio']::before {
    content: '';
    position: absolute;

    width: 11px;
    height: 11px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #337D5A;
  }
  
  input[type='radio']:checked::after {
    content: '';
    position: absolute;

    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #337D5A;
    transform: translate(-50%, -50%);
    visibility: visible;
  }

.registration {
    max-width: 1332px;
    margin: 46px auto 89px;
    padding: 0 20px;
    display: grid;
    grid-template: 40px 10px 1fr /minmax(auto, 474px) minmax(auto, 266px) minmax(auto, 474px) 1fr;
    &__title {
        grid-row: 1;
        grid-column: 1;
        font-size: 32px;
        font-family: Raleway;
        font-weight: 800;
        line-height: 32px;
        letter-spacing: 0.32px;
    }
    &__column1 {
        grid-row: 3;
        grid-column: 1;
    }
    &__column2 {
        grid-row: 3;
        grid-column: 3;
    }
    &__contact-title {
        font-size: 17px;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.17px;
    }
    &__tabs {
        color: #000;
        font-size: 15px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0.4px;
        margin: 32px 0 0 0;
        display: grid;
        grid-template: 30px 20px 1fr / minmax(auto, 210px) minmax(20px, 1fr) minmax(auto, 235px);
    }
    &__contact-tabs1 {
        grid-row: 1;
        grid-column: 1;
        padding: 2px 0 0 30px;
        border-bottom: 2.5px solid #337d5a00;
        cursor: pointer;
    }
    &__contact-tabs2 {
        grid-row: 1;
        grid-column: 3;
        padding: 0 0 0 33px;
        letter-spacing: 0.1px;
        border-bottom: 2.5px solid #337d5a00;
        cursor: pointer;

    }
    &__individual {
        display: none;
        grid-row: 3;
        grid-column: 1/4;
    }
    &__legal{
        display: none;
        grid-row: 3;
        grid-column: 1/4;
    }
    &__input-name {
        margin: 26px 0 14px 0;
        &::placeholder{
            padding-left: 11px;
        }
    }
    &__input-email {
        margin-bottom: 16px;
        &::placeholder{
            padding-left: 11px;
        }
    }
    &__input-phone {
        margin-bottom: 45px;
        &::placeholder{
            padding-left: 11px;
        }
    }
    &__address-title {
        font-size: 17px;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.17px;
        margin-bottom: 18px;
    }
    &__country{
        margin-bottom: 13px;
        position: relative;
        z-index: 2;
    }
    &__region{
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
    }
    &__input-city {
        margin-bottom: 16px;
        &::placeholder{
            padding-left: 12px;
        }
    }
    &__input-address {
        margin-bottom: 45px;
        &::placeholder{
            padding-left: 12px;
        }
    }
    &__password-title {
        font-size: 17px;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.17px;
        margin-bottom: 21px;
    }
    &__new-password {
        margin-bottom: 15px;
        &::placeholder{
            padding-left: 12px;
        }
    }
    &__confirm-paswword {
        margin-bottom: 18px;
        &::placeholder{
            padding-left: 12px;
        }
    }
    &__conditions {
        color: #8A8A8A;
        font-size: 13px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.13px;
        margin-left: 2px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        span{
            span{
                color: rgba(51, 125, 90, 1);
                font-weight: 600;
            }
        }
    }
    &__conditions-text{
        display: block;
        margin-left: 5px;
    }
    &__button {
        width: 100%;
        font-size: 16px;
        font-family: Raleway;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        letter-spacing: 0.15px;
    }

    &__photo {

        span{
            display: inline-block;
            margin-top: 79px;
            color: #FFF;
            font-size: 13px;
            font-family: Montserrat;
            font-weight: 600;
            line-height: 17px;
            border-bottom: 1.5px dashed #FFF ;
        }
    }
    &__fop-tabs {
        display: flex;
        align-items: center;
        margin-left: 1px;
    }

    &__fop-info {
        display: inline-block;
        color: #8A8A8A;
        font-size: 13px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.13px;
        margin: 1px 0 0 5px;
    }
    &__leg-info {
    }
    &__leg-radio-legal {
        color: #8A8A8A;
        font-size: 13px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 6px;
        letter-spacing: 0.13px;
        margin: 26px 0 13px 3px;
        display: flex;
        label{
            display: inline-block;
            margin-left: 4px;
        }

    }
    &__leg-radio-fop {
        color: #8A8A8A;
        font-size: 13px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 9px;
        letter-spacing: 0.13px;
        margin: 0 0 53px 3px;
        display: flex;
        label{
            display: inline-block;
            margin-left: 4px;
        }
    }
    &__leg-requisites-title {
        font-size: 17px;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.17px;
        margin-bottom: 24px;
    }
    .fop{
        display: none;
    }
    &__leg-requisites-input {
        margin-bottom: 45px;
    }
    &__leg-legal-adress-title {
        font-size: 17px;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.17px;
        margin-bottom: 17px;
    }
    &__leg-country {
        margin-bottom: 15px;
        position: relative;
        z-index: 2;
    }
    &__leg-region {
        margin-bottom: 19px;
        position: relative;
        z-index: 1;
    }
    &__leg-input-city {
        margin-bottom: 14px;
    }
    &__leg-input-address {
        margin-bottom: 16px;
    }
    &__leg-input-index{

    }
}

.registration {

}
.input {
}
.custom-select {
    &__option {}
    &__list {}
}
.custom-select-1 {
}
.icon-filter-option-arrow {
}
.custom-select-2 {
}


.natural-person{
    .registration {
        &__individual {
            display: block;
        }
        &__leg-info {
            display: none;
        }
        &__contact-tabs1 {
            border-bottom: 2.5px solid #337d5a;
        }
    }
}

.legal-entity{
    .registration {
        &__legal{
            display: block;
        }
        &__photo {
            margin: 66px 0 16px 0;
        }
        &__fop-tabs{
            display: none;
        }
        &__contact-tabs2 {
            border-bottom: 2.5px solid #337d5a;
        }
    }
}
.legal{
    .leg{
        display: block;
    }
    .fop{
        display: none;
    }
}
.fop{
    .leg{
        display: none;
    }
    .fop{
        display: block;
    }
}
.adaptive-button{
    display: none;
}
@media (max-width:1000px) {
    .registration {
        grid-template: 40px 10px auto auto / 10vw 1fr 10vw;
        &__column1 {
            grid-row: 3;
            grid-column: 2;
        }
        &__column2 {
            grid-row: 4;
            grid-column: 2;
        }
        &__photo {
            margin-bottom: 20px;
            .upload-container {
                margin: 0 auto;
            }     
        }
        &__fop-tabs {
            display: flex;
            align-items: center;
            margin-left: 1px;
        }
    
        &__fop-info {
            margin: 1px 0 0 5px;
        }
        &__leg-info {
            margin: 0 auto;
        }
        &__leg-radio-legal {
            width: 120px;
            margin: 20px auto 0 ;
            
    
        }
        &__leg-radio-fop {
            width: 120px;
            margin: 10px auto 45px ;
        }
    }
    .destop-button{
        display: none;
    }
    .adaptive-button{
        display: block;
    }
    .adaptive-button-flex{
        display: flex;
        margin-top: 15px;
    }
}

@media (max-width:600px) {
    .registration {
        grid-template: 40px 10px auto auto / 3.4vw 1fr 3.4vw;
        height: 100%;
        &__tabs {
            grid-template: 20px 20px 20px 1fr / 1fr;
        }
        &__contact-tabs1 {
            padding: 0;
            grid-column: 1;
            grid-row: 1;
            max-width: 160px;
            list-style: 15px;
        }
        &__contact-tabs2 {
            padding: 0;
            grid-column: 1;
            grid-row: 3;
            max-width: 160px;
        }
        &__individual {
            grid-column: 1;
            grid-row: 4;
        }
        &__legal{
            grid-row: 4;
            grid-column: 1;
        }
    }
}