main{
    height: 100%;
}
.top-video {
    background: url(../../images/main/pic.webp) center/ cover no-repeat;
    &__title {
        padding-top: 195px;
    }
    margin-bottom: 83px;
}
.main-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 0 auto 27px;
}
.main-info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    margin: 0px auto 61px;
    max-width: 620px;
    padding: 2px 5px 0 0 ;
}


.about-production {
    margin: 190px auto 162px;
    &__info {
        grid-template: 29px 50px 44px 1fr /1fr;
    }
    &__text {
        line-height: 26px;
        P{
            span{
                &:nth-child(1){
                    color: #337D5A;
                    font-size: 16px;
                    font-family: Raleway;
                    font-weight: 600;
                    letter-spacing: 0.16px;
                }
                &:nth-child(2){
                    display: block;
                }
            }
            &:nth-child(1){
                max-width: 421px;
                margin-bottom: 26px;
            }
            &:nth-child(2){
                max-width: 476px;
                line-height: 25px;
                margin-bottom: 47px;
            }
        }
    }
    &__slider-arrow {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        height: 55px;
    }
    &__button{
        display: block;
        margin: 0;
        width: 170px;
        height: 52px;
        line-height: 52px;

        font-size: 14px;
        letter-spacing: 0.28px;
    }
    &__swiper{
        .swiper-slide1 {
            background: url(../../images/main/Untitled-15.webp) center/ cover no-repeat;
        }
        .swiper-slide2 {
            background: url(../../images/production/4.webp) center/ cover no-repeat;
        }
        .swiper-slide3 {
            background: url(../../images/production/pic.webp) center/ cover no-repeat;
        }
    }
}


.delivery-video {
    margin: 62px 0 80px 0;
}





.ready{
    display: block;
    .delivery-video {
        background: none ;
            &__button {
                display: none;
            }
            &__video-title {
                display: none;
            }
            &__video-info {
                display: none;
            }
    }
}




.main-title {
}
.main-title--two {
    margin: 0 auto 28px;
}
.main-info {
    padding-left: 5px;
}
.main-info--thre {
}

.nuts-info {
    max-width: 1330px;
    padding: 3px 20px 0;
    margin: 0 auto 100px;
    display: grid;
    grid-template: 525px / minmax(auto, 410px) minmax(20px, 1fr) minmax(auto, 410px) minmax(20px, 1fr) minmax(auto, 410px);
    &__column1 {
        grid-row: 1;
        grid-column: 1;
        background: url(../../images/main/2.webp) center/cover no-repeat;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(51, 125, 90, 0.97);
        }
    }
    &__column1-icon {
        position: relative;
        z-index: 2;
        width: 67px;
        margin: 95px auto 10px;
        padding-left: 5px;
    }
    &__column1-title {
        position: relative;
        z-index: 2;
        color: #FFF;
        font-size: 40px;
        font-family: Raleway;
        font-weight: 800;
        letter-spacing: 0.4px;
        text-align: center;
        padding: 0 0 23px 3px;
    }
    &__column1-text {
        position: relative;
        z-index: 2;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0.18px;
        max-width: 320px;
        margin: 0 auto;

        p{
            &:nth-child(1){
                margin-bottom: 16px;
                padding-right: 5px;
            }
            &:nth-child(2){
                margin-bottom: 15px;
                line-height: 25px;
                max-width: 302px;
                padding-left: 11px;
            }
        }
    }
    &__column2 {
        grid-row: 1;
        grid-column: 3;
        background: url(../../images/main/2.webp) center/cover no-repeat;
    }
    &__column2-icon {
        width: 51px;
        margin: 201px auto 22px;
        padding-left: 5px;
    }
    &__column2-title{
        color: #FFF;
        font-size: 40px;
        font-family: Raleway;
        font-weight: 800;
        letter-spacing: 0.4px;
        text-align: center;
    }
    &__column3 {
        grid-row: 1;
        grid-column: 5;
        background: url(../../images/main/3.webp) center/cover no-repeat;
    }
    &__column3-icon {
        width: 59px;
        margin: 201px auto 21px;
        padding-right: 75px;
    }
    &__column3-title {
        text-align: center;
        color: #FFF;
        font-size: 40px;
        font-family: Raleway;
        font-weight: 800;
        letter-spacing: 0.4px;
    }
}

.bottom-image {
    background: url(../../images/main/bottom-img.jpg) center / cover no-repeat;
    grid-template: 226px 72px 44px 60px 14px 100px 1fr / 1fr;
    margin: 59px 0 -6px 0;
}
.main-bottom-button{
    display: block;
    margin: 97px auto 88px;
    width: 223px;
}

.video-play{
    width: 61px;
    height: 61px;
    background: url(../../images/svg/play-icon.svg);
    margin: 18px 0 0 6px;
}
@media (max-width: 1330px) {
    .nuts-info {
        max-width: 890px;
        grid-template: 525px 30px 525px  / minmax(auto, 410px) 30px minmax(auto, 410px);
        &__column1 {
            grid-column: 1;
            grid-row: 1;
        }
        &__column2 {
            grid-column: 3;
            grid-row: 1;
        }
        &__column3 {
            grid-column: 1/4;
            grid-row: 3;
            width: 410px;
            margin: 0 auto;
        }
    }
}


@media (max-width: 900px) {
    .top-video {
        margin-bottom: 50px;
        &__title {
            padding-top: 10vw;
        }
    }
    .about-production {
        margin: 50px auto 50px;
    }
    .nuts-info {
        max-width: 450px;
        grid-template: 1fr 30px 1fr 30px 1fr /  1fr;
        margin: 0 auto 50px;
        &__column1 {
            grid-column: 1;
            grid-row: 1;
            padding: 20px 0;
        }
        &__column2 {
            grid-column: 1;
            grid-row: 3;
        }
        &__column3 {
            grid-column: 1;
            grid-row: 5;
            width: 100%;
            margin: 0 auto;
        }
        &__column1-icon {
            margin: 0 auto 10px;
        }
        &__column2-icon {
            width: 51px;
            margin: 40% auto 22px;
        }
        &__column3-icon {
            margin: 40% auto 22px;
        }
    }
}
@media (max-width: 700px) {
    .main-title {
        font-size: 36px;
        margin: 0 auto 20px;
    }
    .main-info {
        font-size: 16px;
        line-height: 20px;
    }
}

// @media (max-width: 450px) {
//     .nuts-info {
//         max-width: 450px;
//         grid-template: 525px 30px 525px 30px 525px /  1fr;
//         &__column1 {
//             grid-column: 1;
//             grid-row: 1;
//         }
//         &__column2 {
//             grid-column: 1;
//             grid-row: 3;
//         }
//         &__column3 {
//             grid-column: 1;
//             grid-row: 5;
//             width: 410px;
//             margin: 0 auto;
//         }
//     }
// }
@media (max-width: 1100px) {
    .bottom-image {
        margin: 50px 0 0px 0;
        height: 540px;
        grid-template: 1fr 72px 22px 60px 21px 100px 1fr / 1fr;
    }
}
@media (max-width: 640px) {
    .about-production {
        margin: 0px auto 50px;
        &__info {
            grid-row: 1;
            grid-column: 1;
            display: grid;
            grid-template: 15px 30px 20px 1fr /90vw;
            margin-bottom: 15px;
        }
        &__button{
            display: block;
            margin: 0;
            width: 150px;
            height: 40px;
            line-height: 40px;
        }
    }
    .bottom-image {
        margin: 30px 0 0px 0;
        height: 400px;
        grid-template: 1fr 72px 22px 40px 21px 100px 1fr / 1fr;
        &__title {
            font-size: 36px;
            line-height: 40px;
            padding-right: 0;
        }
        &__info {
            font-size: 16px;
            line-height: 22px;
            max-width: 480px;
            padding: 0 10px;
            padding-left: 0;
        }
    }
    .main-bottom-button{
        margin: 50px auto 50px;
        width: 200px;
    }
}