main{
    height: 100%;
}
.image-banner {
    background: url(../../images/store/Untitled-20.webp) center/ cover no-repeat;
    &__title{
        margin-top: 75px;
    }
}
.icon-filter-option-arrow{
    position: absolute;
    z-index: 1;
    right: 19px;
    top: 25px !important;
    color: #337D5A;
    font-size: 6px;
}
.filter {
    position: relative;
    z-index: 3;
    max-width: 1330px;
    padding: 0 20px;
    display: grid;
    align-items: end;
    margin: 66px auto 84px;
    grid-template: 1fr / 100px minmax(auto, 72px) minmax(auto, 283px) minmax(auto, 30px) minmax(auto, 171px) minmax(auto, 40px) 145px minmax(auto, 155px) minmax(130px, 150px) minmax(auto, 46px) 88px ;
    font-family: 'Raleway';
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.01em;
    &__title-logo {
        grid-column: 1;
        font-weight: 700;
        font-size: 17px;
        display: flex;
        span{
            display: block;
            margin: 0 0 0 0 ;
        }
        i{
            display: block;
            font-size: 20px;
            margin: 0px 0 9px 8px;
            color: #337D5A;
        }
    }
    &__taste {
        grid-column: 3;
    }
    &__weight {
        grid-column: 5;
    }
    &__price {
        grid-column: 7;
        font-weight: 700;
        font-size: 17px;
        display: flex;
        span{
            display: inline-block;
            margin: 0 0 10px 0;
        }
        i{  
            font-size: 14px;
            margin: 0 0 0 0;
            &::before{
                margin: 0 0 0 6.5px;
                width: 12.5px;
            }
            &:hover{
                color: #337D5A;
            }
        }
    }
    &__price-arrow{
        margin: 0 0 0 10px;
    }
    &__button {
        grid-column: 9;
        max-width: 150px;
        max-height: 48px;
        line-height: 48px;
    }
    &__reset {
        height: 100%;
        grid-column: 11;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #8A8A8A;
        display: flex;
        i{
            font-size: 12px;

        }
        span{
            display: inline-block;
            margin:14px 0 0 5px;
        }
    }
    &__reset-icon{
        margin: 13px 0  0 0;
    }

}
.icon-filter {
}
.icon-filter-arrow {
}
.icon-filter-arrow-top {
}
.icon-filter-restart {
}




.custom-select {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    position: relative;
    width: 100%;
    min-width: 100px;
    height: 48px;
    line-height: 42px;
    position: relative;
    z-index: 1;
    &__option {
        display: block;
        padding: 8px;
        cursor: pointer;
        position: relative;
        z-index: 1;
      }
    &__list {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #337D5A;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 8px;
        cursor: pointer;
        &:hover {
            background-color: #337D5A;
            color: #ffffff;
          }
      }
    }
    i{
        position: absolute;
        z-index: 1;
        right: 25px;
        top: 10px;
        color: #337D5A;
        font-size: 10px;
    }
    &:hover .custom-select__list {
        display: block;
      }
    &:hover .icon-filter-option-arrow::before {
        transform: translate(50%, 0) rotate(180deg);
        transform-origin: center center;
  }
}
  
.goods-button{
    margin: 71px auto 196px;
    letter-spacing: 0.8px;
}


.about-production {
    max-width: 1330px;
    padding: 0 20px;
    margin: 100px auto 52px;
    display: grid;
    grid-template: 1fr / minmax(auto, 540px) 1fr minmax(auto, 700px) ;
    &__info {
        grid-row: 1;
        grid-column: 1;
        display: grid;
        grid-template: 0px 98px 1px 1fr /1fr;
    }
    &__title {
        line-height: 46px;
        letter-spacing: 0.45px;
        grid-column: 1;
        grid-row: 2;
    }
    &__text {
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        letter-spacing: 0.34px;
        line-height: 26px;
        grid-column: 1;
        grid-row: 4;
        h3{
            font-size: 24px;
            font-family: Raleway;
            font-weight: 600;
            line-height: 50px;
            letter-spacing: 0.24px;
            margin-bottom: 12px;
        }
        P{
            &:nth-child(2){
                max-width: 422px;
                margin-bottom: 26px;
            }
            &:nth-child(3){
                max-width: 476px;
                margin-bottom: 25px;
            }
            &:nth-child(4){
                max-width: 480px;

            }
        }
    }
    &__video {
        max-height: 700px;
        grid-row: 1;
        grid-column: 3;
    }
    &__slider-arrow {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        background-color: #337D5A ;
    }
    &__button-left {

    }
    .icon-slider-arrow-one{
        margin: -3px 0px 0 2px;
    }
    &__button-right {}
    &__swiper{
        .swiper {
            width: 100%;
            height: 472px;
        }
        .swiper-wrapper {
        }
        .swiper-slide {
            width: 100%;
            height: 100%;
            align-items: center;
            justify-items: center;
            display: grid;
        
        }
        .swiper-slide1 {
            background: url(../../images/store/Untitled-21.webp) center/ cover no-repeat;
        }
        .swiper-slide2 {
            background: url(../../images/production/4.webp) center/ cover no-repeat;
        }
        .swiper-slide3 {
            background: url(../../images/production/pic.webp) center/ cover no-repeat;
        }
    }
}

.swiper-scrollbar{
    left: -221px !important;
    bottom: 158px !important;
    height: 2px !important;
    transform: rotate(90deg);
    max-width: 315px !important;
    &__line{
        position: absolute;
        top: 2px;
        left: 0;
        width: 315px;
        border-radius: 2px;
        height: 2px;
        background-color: rgb(138, 138, 138);
    }
}
.swiper-scrollbar-drag{
    height: 6px ;
    border-radius: 10px !important;
    background-color: rgba(51, 125, 90, 1);

}


@media (max-width: 1300px) {
    .goods-button{
        margin: 50px auto 100px;
    }
    .about-production {
        padding: 0 5vw;
        grid-template: auto 100px auto / 1fr ;
        &__info {
            grid-row: 1;
            grid-column: 1;
        }
        &__video {
            grid-row: 3;
            grid-column: 1;
            position: relative;
        }
        &__info {
            grid-row: 1;
            grid-column: 1;
            display: grid;
            grid-template: 0px 50px 1px 1fr /1fr;
        }
        .swiper {
            width: 90vw;
            height: 472px;
        }
        &__text {
            font-size: 14px;
            h3{
                font-size: 16px;
            }
            P{
                &:nth-child(2){
                    max-width: 100%;
                    margin-bottom: 15px;
                }
                &:nth-child(3){
                    max-width: 100%;
                    margin-bottom: 15px;
                }
                &:nth-child(4){
                    max-width: 100%;
                    margin-bottom: 15px;
                }
            }
        }
        br{
            display: none;
        }
        .swiper-slide {
            width: 100%;
            height: 100%;
            align-items: center;
            justify-items: center;
            display: grid;
        }

    }
    .swiper-scrollbar{
        left: 0px !important;
        bottom: none !important;
        top: -50px !important;
        height: 2px !important;
        transform: rotate(0deg);
        max-width: 315px !important;
        &__line{
            position: absolute;
            top: 2px;
            left: 0;
            width: 315px;
            border-radius: 2px;
            height: 2px;
            background-color: rgb(138, 138, 138);
        }
    }
    .swiper-scrollbar-drag{
        height: 6px ;
        border-radius: 10px !important;
        background-color: rgba(51, 125, 90, 1);
    
    }
}


  @media (max-width: 900px) {
    .filter {
        margin: 50px auto 100px;
        grid-template: 1fr 3.4vw 1fr / auto 1fr auto 1fr auto ;
        &__title-logo {
            grid-column: 1;
            grid-row: 1;
        }
        &__taste {
            grid-column: 1;
            grid-row: 3;
        }
        &__weight {
            grid-column: 3;
            grid-row: 3;
        }
        &__price {
            grid-column: 3;
            grid-row: 1;
        }
        &__button {
            grid-column: 5;
            grid-row: 3;
        }
        &__reset {
            grid-column: 5;
            grid-row: 1;
            align-items: end;
            justify-content: center;
        }
    
    }
    .custom-select {
        i{
            right: 5px;
            top: 10px;
        }
  }
  .about-production {
    &__title{
        line-height: 30px;
    }
    &__text {
        font-size: 14px;
        line-height: 20px;
        h3{
            font-size: 16px;
        }
    }
  }
}
@media (max-width: 650px) {
    .about-production {
        grid-template: auto 50px auto / 1fr ;
        &__text {
            P{
                &:nth-child(4){
                    margin-bottom: 0;
                }
            }
        }
    }
    .swiper-scrollbar{
        max-width: 200px !important;
        top: -35px !important;
        &__line{
            position: absolute;
            top: 2px;
            left: 0;
            width: 200px;
    }
}
}
@media (max-width: 500px) {
    .filter {
        margin: 35px auto 70px;
        grid-template: 1fr 3.4vw 1fr 3.4vw 1fr / auto 1fr auto  ;
        align-items: center;
        &__title-logo {
            grid-column: 1;
            grid-row: 1;
        }
        &__taste {
            grid-column: 1;
            grid-row: 5;
        }
        &__weight {
            grid-column: 1;
            grid-row: 3;
        }
        &__price {
            grid-column: 3;
            grid-row: 5;
        }
        &__price-arrow{
            margin: 0;
        }
        &__button {
            grid-column: 3;
            grid-row: 1;
            width: 110px;
            height: 40px;
            line-height: 40px;
        }
        &__reset {
            grid-column: 3;
            grid-row: 3;
            align-items: center;
            span{
                margin: 0 0 0 5px;
            }
        }
        &__reset-icon{
            margin: 0;
        }
    }
    .custom-select {
        min-width: none;
    }
    .about-production {
        &__video {
            max-height: 350px;
        }
        .swiper {
            width: 90vw;
            height: 350px;
        }
    }
}