main{
    height: 100%;
}
.top-block {
    height: 600px;
    background: url(../../images/wholesale-clients/1.jpg)center/ cover no-repeat;
    font-family: 'Raleway';
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    &__title {
        margin: 189px 0 32px 0;
        font-weight: 800;
        font-size: 62px;
        line-height: 73px;

    }
    &__info {
        font-weight: 600;
        font-size: 25px;
        line-height: 29px;
        max-width: 530px;
        margin: 0 auto;
        padding-right: 2px;
        letter-spacing: 0.01em;
        height: 520px;
    }
}
.wholesale-clients {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    max-width: 1330px;
    margin: 0 auto 105px;
    padding: 0 20px;
    display: grid;
    min-height: 300px;
    grid-template: 82px 1fr / minmax(auto, 410px) minmax(20px, 110px) minmax(auto, 370px) minmax(20px, 70px) minmax(auto, 350px);
    span{
        font-weight: 700;
    }
    &__title {
        grid-column: 1;
        grid-row: 2;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        line-height: 53px;
        letter-spacing: 0.01em;
    }
    &__info-one {
        margin-top: 10px;
        grid-column: 3;
        grid-row: 2;
        p{
            &:nth-child(1){
                max-width: 350px;
            }
        }
    }
    &__info-two {
        margin-top: 10px;
        grid-column: 5;
        grid-row: 2;
        p{
            &:nth-child(2){
                max-width: 310px;
            }
        }
    }
    p{
        margin-bottom: 24px;
    }
}
.tabs {
    max-width: 1370px;
    grid-template: auto auto /1fr;
    margin-bottom: 163px;
    &__buttons {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template: 1fr / 25px minmax(auto, 205px) minmax(auto, 40px) minmax(auto, 200px) minmax(auto, 87px) minmax(auto, 170px) minmax(auto, 88px) minmax(auto, 215px) minmax(auto, 74px) minmax(auto, 220px) 5px;
    }
    &__info {
        grid-column: 1;
        grid-row: 2;
    }
    &__button {
        margin: 0;
        &:nth-child(1){
            grid-row: 1;
            grid-column: 2;
        }
        &:nth-child(2){
            grid-row: 1;
            grid-column: 4;
        }
        &:nth-child(3){
            grid-row: 1;
            grid-column: 6;
        }
        &:nth-child(4){
            grid-row: 1;
            grid-column: 8;
        }
        &:nth-child(5){
            grid-row: 1;
            grid-column: 10;
        }
    }
    &__icon{
        display: grid;
        grid-template: 1fr / auto auto;
        border-bottom: 3px solid #337d5a00;
        padding-bottom: 17px;
        &::before{
            margin-bottom: 6px;
        }
    }
    &__super-market{
        display: grid;
        grid-template: 25px 1fr / minmax(auto, 459px) minmax(auto, 90px) minmax(auto, 761px);
    }
    &__text {
        grid-row: 2;
        grid-column: 1;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin: 51px 0 0 0;
        p{
            padding: 0 0 24px 20px;

            &:nth-child(4){
                max-width: 430px;
                padding: 0 0 40px 20px;
            }
        }
    }
    &__image {
        grid-row: 2;
        grid-column: 3;
        img{
            width: 100%;
            height: 100%;
            max-height: 474px;
            object-fit: cover;
        }
    }
    &__super-market-button {
        margin-left: 20px;
    }
    span{
        display: block;
        grid-column: 2;
        grid-row: 1;
    }
}
.icon-supermarket {
    font-size: 36px;
    span{
        margin: 5px 0 0 15px;
    }
    &::before{
        margin: 10px 0 0 0;
    }
}
.icon-shop {
    font-size: 36px;
    span{
        margin: 5px 0 0 16px;
    }
    &::before{
        margin: 8px 0 0 0;
    }
    
}
.icon-dinner-table {
    font-size: 48px;
    span{
        margin: 5px 0 0 17px;
    }
    &::before{
        margin: 0 0 0 0;
    }
}
.icon-dumbbell {
    font-size: 45px;
    span{
        margin: 5px 0 0 17px;
    }
    &::before{
        margin: 5px 0 0 0;
    }
}
.icon-cake {
    font-size: 42px;
    span{
        margin: 5px 0 0 16px;
        max-width: 148px;
    }
    &::before{
        margin: 6px -5px 0 0;
    }
}

.tab{
        &__shop{
        .icon-shop {
            border-bottom: 3px solid #337D5A;
            &::before{
                color: #337D5A;
            }
        }
        .delivery-return{
            display: grid;
        }
        .tabs__super-market{
            display: none;
        }
    } 
    &__horeca{
        .icon-dinner-table {
            border-bottom: 3px solid #337D5A;
            &::before{
                color: #337D5A;
            }
        }
        .delivery-return{
            display: grid;
        }
        .tabs__super-market{
            display: none;
        }
    }
    &__sport-club{
        .icon-dumbbell {
            border-bottom: 3px solid #337D5A;
            &::before{
                color: #337D5A;
            }
        }
        .delivery-return{
            display: grid;
        }
        .tabs__super-market{
            display: none;
        }
    }
    &__confectionery{
        .icon-cake {
            border-bottom: 3px solid #337D5A;
            &::before{
                color: #337D5A;
            }
        }
        .delivery-return{
            display: grid;
        }
        .tabs__super-market{
            display: none;
        }
    }
    &__super-market{
        .icon-supermarket {
            border-bottom: 3px solid #337D5A;
            &::before{
                color: #337D5A;
            }
        }
    }
}

@media (max-width: 1320px) {
    .tabs {
        &__buttons {
            padding: 0 20px;
            grid-template: 1fr / auto 1fr auto 1fr auto 1fr auto 1fr auto ;
        }
        &__button {
            &:nth-child(1){
                grid-row: 1;
                grid-column: 1;
                span{
                    max-width: 120px;
                }
            }
            &:nth-child(2){
                grid-row: 1;
                grid-column: 3;
                span{
                    max-width: 90px;
                }
            }
            &:nth-child(3){
                grid-row: 1;
                grid-column: 5;
                span{
                    max-width: 85px;
                }
            }
            &:nth-child(4){
                grid-row: 1;
                grid-column: 7;
                span{
                    max-width: 120px;
                }
            }
            &:nth-child(5){
                grid-row: 1;
                grid-column: 9;
                span{
                    max-width: 120px;
                }
            }
        }
        span{
            font-size: 16px;
            line-height: 16px;
            margin: 15px 0 0 10px ;
        }
    }
}

@media (max-width: 1100px) {
    .wholesale-clients {
        margin: 0 auto 50px;
        padding: 0 20px;
        grid-template: 50px auto 30px auto / 1fr 30px 1fr;
        &__title {
            grid-column: 1/4;
            grid-row: 2;
        }
        &__info-one {
            grid-column: 1;
            grid-row: 4;
        }
        &__info-two {
            grid-column: 3;
            grid-row: 4;
        }
    }
    .tabs {
        &__button {
            &:nth-child(1){
                span{
                    max-width: 90px;
                }
            }
            &:nth-child(2){
                span{
                    max-width: 70px;
                }
            }
            &:nth-child(3){
                span{
                    max-width: 70px;
                }
            }
            &:nth-child(4){
                span{
                    max-width: 90px;
                }
            }
            &:nth-child(5){
                span{
                    max-width: 90px;
                }
            }
        }
        span{
            font-size: 12px;
            line-height: 16px;
            margin: 15px 0 0 10px ;
        }
        &__super-market{
            display: grid;
            grid-template: 25px 1fr / 1fr 30px 1fr;
        }
    }
}
@media (max-width: 900px) {
    .top-block {
        height: 400px;
        &__title {
            margin: 100px 0 20px 0;
            font-weight: 800;
            font-size: 42px;
            line-height: 50px;
    
        }
        &__info {
            font-size: 20px;
            line-height: 25px;
        }
    }
    .tabs {
        &__buttons {
            padding: 0 20px;
            grid-template: 1fr 30px 1fr / auto 1fr auto 1fr auto  ;
        }
        &__icon{
            justify-content: start;
            padding-bottom: 10px;
        }
        &__button {
            margin: 0 !important;
            &:nth-child(1){
                grid-row: 1;
                grid-column: 1;
                span{
                    max-width: 120px;
                }
            }
            &:nth-child(2){
                grid-row: 1;
                grid-column: 3;
                max-width: 140px;
                span{
                    margin: 12px 0 0 5px ;
                }
            }
            &:nth-child(3){
                grid-row: 1;
                grid-column: 5;
                span{
                    max-width: 85px;
                }
            }
            &:nth-child(4){
                grid-row: 3;
                grid-column: 1;
                span{
                    max-width: 120px;
                }
            }
            &:nth-child(5){
                grid-row: 3;
                grid-column: 3;
                span{
                    max-width: 120px;
                }
            }
        }
        span{
            font-size: 16px;
            line-height: 16px;
            margin: 15px 0 0 10px ;
        }
    }
}
@media (max-width: 800px) {
    .tabs {
        margin-bottom: 100px;
        &__super-market{
            display: grid;
            grid-template: 25px auto 5px auto / 1fr;
        }
        &__text {
            grid-row: 4;
            grid-column: 1;
            margin: 20px 0 0 0;
        }
        &__image {
            grid-row: 2;
            grid-column: 1;
        }
        &__super-market-button {
            margin: 20px auto 0;
        }
    }
}
@media (max-width: 640px) {
    .top-block {
        height: 300px;
        &__title {
            margin: 55px 0 15px 0;
            font-weight: 800;
            font-size: 32px;
            line-height: 40px;
    
        }
        &__info {
            font-size: 16px;
            line-height: 20px;
            max-width: 400px;
        }
    }
    .tabs {
        &__buttons {
            padding: 0 3.4vw;
            grid-template: 1fr 3.4vw 1fr 3.4vw 1fr / 0.2fr auto 1fr auto 0.2fr ;
        }
        &__icon{
            justify-content: start;
            padding-bottom: 5px;
        }
        &__button {
 

            &:nth-child(1){
                grid-row: 1;
                grid-column: 2;
                span{
                    max-width: 85px;
                }
            }
            &:nth-child(2){
                grid-row: 1;
                grid-column: 4;
                max-width: 120px;
                span{
                    max-width: 60px;
                }
            }
            &:nth-child(3){
                grid-row: 3;
                grid-column: 2;
                span{
                    max-width: 85px;
                }
            }
            &:nth-child(4){
                grid-row: 3;
                grid-column: 4;
                span{
                    max-width: 120px;
                }
            }
            &:nth-child(5){
                grid-row: 5;
                grid-column: 2;
                span{
                    max-width: 120px;
                }
            }
        }
        span{
            font-size: 12px;
            line-height: 16px;
        }
    }
    .delivery-return{
        height: 300px;
    }
}
@media (max-width: 450px) {
    .wholesale-clients {
        margin: 0 auto 50px;
        padding: 0 20px;
        grid-template: 50px auto 15px auto / 1fr 20px 1fr;
        &__title {
            grid-column: 1/4;
            grid-row: 2;
            font-size: 30px;
            line-height: 35px;
        }
        &__info-one {
            grid-column: 1;
            grid-row: 4;
            font-size: 14px;
        }
        &__info-two {
            grid-column: 3;
            grid-row: 4;
            font-size: 14px;
        }
        P{
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 400px) {
    .top-block {
        height: 250px;
        &__title {
            margin: 40px 0 10px 0;
            font-weight: 800;
            font-size: 22px;
            line-height: 40px;
    
        }
        &__info {
            font-size: 12px;
            line-height: 15px;
            max-width: 270px;
        }
    }
    .wholesale-clients {
        margin: 0 auto 30px;
        padding: 0 20px;
        grid-template: 30px auto 10px auto 10px auto / 1fr;
        &__title {
            grid-column: 1;
            grid-row: 2;
            font-size: 22px;
            line-height: 25px;
        }
        &__info-one {
            grid-column: 1;
            grid-row: 4;
            font-size: 14px;
        }
        &__info-two {
            grid-column: 1;
            grid-row: 6;
            font-size: 14px;
        }
        P{
            margin-bottom: 5px;
        }
    }

    .tabs {
        &__buttons {
            padding: 0 3.4vw;
            grid-template: 1fr 3.4vw 1fr 3.4vw 1fr 3.4vw 1fr 3.4vw 1fr  / 1fr ;
        }
        &__icon{
            justify-content: start;
            padding-bottom: 5px;
            max-width: 100%;
        }
        &__button {
 

            &:nth-child(1){
                grid-row: 1;
                grid-column: 1;
                span{
                    max-width: 85px;
                }
            }
            &:nth-child(2){
                grid-row: 3;
                grid-column: 1;
                max-width: 100%;
                span{
                    max-width: 60px;
                }
            }
            &:nth-child(3){
                grid-row: 5;
                grid-column: 1;
                span{
                    max-width: 85px;
                }
            }
            &:nth-child(4){
                grid-row: 7;
                grid-column: 1;
                span{
                    max-width: 120px;
                }
            }
            &:nth-child(5){
                grid-row: 9;
                grid-column: 1;
                span{
                    max-width: 100%;
                }
            }
        }
        span{
            font-size: 12px;
            line-height: 16px;
        }
    }
    .delivery-return{
        height: 150px;
    }
}