<footer>
  <div class="fotter-wrapper">
    <div class="contact" id="contact">
      <div class="contact__info">
        <div class="contact__title">Контакты</div>
        <div class="contact__phone-link">
          <div class="contact__phone-img">
            <img src="{{add}}assets/images/svg/phone.svg" alt="">
          </div>
          <div class="contact__phones">
            <div class="contact__phone-one">+38 (095) 711 11 11</div>
            <div class="contact__phone-two">+38 (095) 711 11 11</div>
          </div>
          <div class="contact__links">
            <div class="contact__links-image"><img src="{{add}}assets/images/links-icon/whatsapp.webp" alt=""></div>
            <div class="contact__links-image"><img src="{{add}}assets/images/links-icon/telegram.webp" alt=""></div>
            <div class="contact__links-image"><img src="{{add}}assets/images/links-icon/viber.webp" alt=""></div>
          </div>
        </div>
        <div class="contact__mail">
          <img src="{{add}}assets/images/svg/mail.svg" alt="">
          <span>nuts@nbsc.com.ua</span>
        </div>
        <div class="contact__sales">
          <img src="{{add}}assets/images/svg/house.svg" alt="">
          <span>Офис и отдел продаж</span>
        </div>
        <div class="contact__sales-info">Украина, г. Одесса, ул. Космонавтов, 32</div>
        <div class="contact__production">
          <img src="{{add}}assets/images/svg/tree.svg" alt="">
          <span>Производство</span>
        </div>
        <div class="contact__production-info">
          Украина, Одесская обл,<br> с. Яськи, ул. Центральная, 232
        </div>
      </div>
      <div class="contact__map"  id="map">

        <iframe title="Google Map" style=" border: none;"  title="Описание содержимого" width="100%" height="100%" class="footer__maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5499.831538077693!2d30.71659185759802!3d46.43054906441439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c633a7b20ed43b%3A0xfaab4e45d64743a!2z0LLRg9C70LjRhtGPINCa0L7RgdC80L7QvdCw0LLRgtGW0LIsIDMyLCDQntC00LXRgdCwLCDQntC00LXRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1suk!2sua!4v1683321355908!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>







      </div>
    </div>
    <div class="bottom-menu">
      <div class="bottom-menu__logo">
        <div class="bottom-menu__logo-image">
          <img src="{{add}}assets/images/svg/logo.webp" alt="">
        </div>
        <div class="bottom-menu__logo-title">ОРЕХ ПРИЧЕРНОМОРЬЯ</div>
      </div>
      <div class="bottom-menu__menu">
        <div class="bottom-menu__link bottom-menu__link1"><a class="custom-link" href="{{add}}page1.html">Магазин</a></div>
        <div class="bottom-menu__link bottom-menu__link2"><a class="custom-link" href="{{add}}page2.html">О производстве</a>
        </div>
        <div class="bottom-menu__link bottom-menu__link3"><a class="custom-link" href="{{add}}page3.html">Оплата и
            доставка</a></div>
        <div class="bottom-menu__link bottom-menu__link4"><a class="custom-link" href="{{add}}page4.html">Корпоративным
            клиентам</a>
        </div>
        <div class="bottom-menu__link bottom-menu__link5"><a class="custom-link" href="{{add}}page5.html">Новости и статьи</a>
        </div>
        <div class="bottom-menu__link bottom-menu__link7"><a class="custom-link" href="{{add}}page7.html">Галерея</a>
        </div>
      </div>
    </div>
    <div class="bottom-line">
      <div class="bottom-line__production">Разработано <span>AVADA </span><span>MEDIA</span></div>
      <div class="bottom-line__rights-reserved">Copyright © 2019. Все права защищены</div>
      <div class="bottom-line__links">
        <div class="bottom-line__links-image bottom-line__links-image1"><img src="{{add}}assets/images/svg/facebook.svg" alt=""></div>
        <div class="bottom-line__links-image bottom-line__links-image2"><img src="{{add}}assets/images/svg/instagram.svg" alt=""></div>
        <div class="bottom-line__links-image bottom-line__links-image3"><img src="{{add}}assets/images/svg/youtube.svg" alt=""></div>
      </div>
    </div>
  </div>
</footer>