<header>
  <div class="wrapper">
    <div class="top-line">
      <div class="top-line__facebook"><img src="./assets/images/svg/facebook.svg" alt=""></div>
      <div class="top-line__insta"><img src="./assets/images/svg/instagram.svg" alt=""></div>
      <div class="top-line__you-tube"><img src="./assets/images/svg/youtube.svg" alt=""></div>
      <div class="top-line__title">Ваша персональная скидка - 5%</div>
      <div class="top-line__order-call">Заказать звонок</div>
      <div class="top-line__input"><img src="./assets/images/svg/man-user.svg" alt=""><span>Вход</span></div>
      <div class="top-line__registration"><span>Регистрация</span></div>
      <div class="top-line__language">
        <select name="select" id="sel-1">
          <option value="ru"><span>Ru</span></option>
          <option value="ua"><span>Ua</span></option>
          <option value="us"><span>Us</span></option>
        </select>
      </div>
    </div>
    <div class="request-call">
      <div class="request-call__logo">
        <div class="request-call__logo-image"><img src="./assets/images/svg/logo.svg" alt=""></div>
        <div class="request-call__loge-title">ОРЕХ ПРИЧЕРНОМОРЬЯ</div>
      </div>
      <div class="request-call__linls">
        <img src="./assets/images/links-icon/viber.png" alt="*">
        <img src="./assets/images/links-icon/telegram.png" alt="*">
        <img src="./assets/images/links-icon/whatsapp.png" alt="*">
      </div>
      <div class="request-call__phones">
        <div class="request-call__phones-one"><span>+38 (044)</span> 750-50-11</div>
        <div class="request-call__phones-two"><span>+38 (097)</span> 775-50-51</div>
      </div>
      <a href="#" class="request-call__button-link">Заказать звонок</a>
      <div class="request-call__call-info">Ждем Вашего звонка ежедневно с 9 до 18</div>
      <div class="request-call__basket"><img src="./assets/images/svg/basket.svg" alt=""></div>
    </div>
    <div class="link-row">
      <div class="link-row__exit-burger"></div>
      <div class="link-row__link link-row__link1"><a class="custom-link" href="page1.html">Магазин</a></div>
      <div class="link-row__link link-row__link2"><a class="custom-link" href="page2.html">О производстве</a>
      </div>
      <div class="link-row__link link-row__link3"><a class="custom-link" href="page3.html">Оплата и
          доставка</a></div>
      <div class="link-row__link link-row__link4"><a class="custom-link" href="page4.html">Оптовым и
          корпоративным
          клиентам</a></div>
      <div class="link-row__link link-row__link5"><a class="custom-link" href="page5.html">Новости и статьи</a></div>
      <div class="link-row__link link-row__link6"><a class="custom-link" href="#contact">Контакты</a></div>
    </div>
  </div>
  <div class="adaptive-header">
    <div class="adaptive-header__top-line">
      <div class="adaptive-header__phone-image"><img src="./assets/images/svg/phone.svg" alt=""></div>
      <div class="adaptive-header__number"><span>+38 (044)</span> 750-50-11</div>
      <div class="adaptive-header__order-call"><span> Заказать звонок</span></div>
      <div class="adaptive-header__language">
        <select name="select">
          <option value="ru"><span>Ru</span></option>
          <option value="ua"><span>Ua</span></option>
          <option value="us"><span>Us</span></option>
        </select>
      </div>
    </div>
    <div class="adaptive-header__logo-line">
      <div class="adaptive-header__burger"></div>
      <div class="adaptive-header__logo">
        <div class="adaptive-header__logo-image"><img src="./assets/images/svg/logo.svg" alt=""></div>
        <div class="adaptive-header__logo-title">ОРЕХ ПРИЧЕРНОМОРЬЯ</div>
      </div>
      <div class="adaptive-header__basket"><img src="./assets/images/svg/basket.svg" alt=""></div>
    </div>
  </div>
</header>