<!DOCTYPE html>
<html lang="en">

<head>
  {{> head }}

</head>

<body>

  {{> header }}
<main class="main">
  {{> body }}
</main>
  {{> footer }}






  <script src="assets/js/app.js" defer async></script>
  <script src="{{ link-script-swiper }}" defer async></script>
  <script src="{{ link-script }}" defer async></script>
  <script src="{{ link-script-two }}" defer async></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8O0t89oaTGHlUG-R6q6yRVxU9TpPpUH0&callback=initMap" async defer></script>


</body>

</html>